#header {
    position: fixed;
    width: 100vw;
    height: 8vh;

    background-color: #F8F8FF;

    display: flex;
    justify-content: space-between;
    align-content: center;
    }

.HeaderComponent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Icons {
    width: 80%;
    height: 80%;
    margin: 0px 10px 0px 10px;
}

@media (max-width: 500px) {
    .HeaderComponent {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .Icons {
            width: 30px;
            height: 30px;
            margin: 0px 10px 0px 10px;
        }
}

#logo {
    height: 100%;
    width: auto;
}
